{
	"env": {
		"test": {
			"presets": [["@babel/preset-env", { "modules": "commonjs" }], "next/babel"]
		},
		"development": {
			"presets": [
				[
					"next/babel",
					{
						"transform-runtime": {
							"useESModules": false
						}
					}
				]
			]
		},
		"production": {
			"presets": [
				[
					"next/babel",
					{
						"transform-runtime": {
							"useESModules": false
						}
					}
				]
			]
		}
	}
}
